body {
    background-color: #1d1d1d;
}

.layout {
    display: inline-block;
    padding: 2rem;
}

#layout-left {
    width: 49.7%;
}
#layout-right {
    width: 49.7%;
    padding: 0;
}
#layout-bottom {
    width: 100%;
}
#layout-top {
    background-color: white;
}
#layout-bottom h1 {
    color: rgb(157, 150, 142);
}

#pyramid {
    height: 500px;
    width: 500px;
}

#play {
    border-radius: 100px;
    display: inline-block;
    color: rgb(95, 95, 95);
    border: 1px solid rgb(95, 95, 95);
    height: 22px;
    width: 22px;
    cursor: pointer;
}